# CARLA Simulator Diagnostic Configuration with increased timeouts

files:
  - { path: $(dirname)/control-carla.yaml }
  - { path: $(dirname)/map.yaml }
  - { path: $(dirname)/perception-carla.yaml }
  - { path: $(dirname)/system.yaml }
  - { path: $(dirname)/vehicle.yaml }

units:
  # Operation Modes
  - path: /autoware/modes/local
    type: and
    list:
      - { type: link, link: /autoware/vehicle }
      - { type: link, link: /autoware/system }
      - { type: link, link: /autoware/control/local }
      - { type: link, link: /adapi/mrm_request/delegate }

  - path: /autoware/modes/remote
    type: and
    list:
      - { type: link, link: /autoware/vehicle }
      - { type: link, link: /autoware/system }
      - { type: link, link: /autoware/control/remote }
      - { type: link, link: /adapi/mrm_request/delegate }

  - path: /autoware/modes/stop
    type: and
    list:
      - { type: link, link: /adapi/mrm_request/delegate }

  - path: /autoware/modes/autonomous
    type: and
    list:
      - { type: link, link: /autoware/map }
      - { type: link, link: /autoware/perception }
      - { type: link, link: /autoware/vehicle }
      - { type: link, link: /autoware/system }
      - { type: link, link: /adapi/mrm_request/delegate }

  - path: /autoware/modes/pull_over
    type: and
    list:
      - { type: link, link: /autoware/map }
      - { type: link, link: /autoware/localization }
      - { type: link, link: /autoware/planning }
      - { type: link, link: /autoware/perception }
      - { type: link, link: /autoware/control }
      - { type: link, link: /autoware/vehicle }
      - { type: link, link: /autoware/system }
      - { type: link, link: /adapi/mrm_request/delegate }

  - path: /autoware/modes/comfortable_stop
    type: and
    list:
      - { type: link, link: /autoware/map }
      - { type: link, link: /autoware/localization }
      - { type: link, link: /autoware/planning }
      - { type: link, link: /autoware/control }
      - { type: link, link: /autoware/vehicle }
      - { type: link, link: /autoware/system }

  - path: /autoware/modes/emergency_stop
    type: and
    list:
      - { type: link, link: /autoware/vehicle }
      - { type: link, link: /autoware/system }

  - path: /autoware/debug/tools
    type: and
    list:
      - { type: link, link: /autoware/system/service_log_checker }

  - path: /autoware/localization
    type: ok

  - path: /autoware/localization/state
    type: diag
    node: /adapi/node/localization
    name: state
    timeout: 3.0

  - path: /autoware/localization/scan_matching_status
    type: diag
    node: ndt_scan_matcher
    name: scan_matching_status
    timeout: 3.0

  - path: /autoware/localization/accuracy
    type: diag
    node: localization_error_monitor
    name: ellipse_error_status
    timeout: 3.0

  - path: /autoware/localization/sensor_fusion_status
    type: diag
    node: localization
    name: ekf_localizer
    timeout: 3.0

  # MRM request delegate with extended timeout
  - path: /adapi/mrm_request/delegate
    type: diag
    node: /adapi/node/mrm_request
    name: delegate
    timeout: 3.0

  - path: /autoware/planning
    type: ok

  - path: /autoware/planning/topic_rate_check/trajectory
    type: diag
    node: topic_state_monitor_scenario_planning_trajectory
    name: planning_topic_status

  - path: /autoware/planning/trajectory_validation
    type: and
    list:
      - { type: link, link: /autoware/planning/trajectory_validation/finite }
      - { type: link, link: /autoware/planning/trajectory_validation/interval }
      - { type: link, link: /autoware/planning/trajectory_validation/curvature }
      - { type: link, link: /autoware/planning/trajectory_validation/angle }
      - { type: link, link: /autoware/planning/trajectory_validation/lateral_acceleration }
      - { type: link, link: /autoware/planning/trajectory_validation/acceleration }
      - { type: link, link: /autoware/planning/trajectory_validation/deceleration }
      - { type: link, link: /autoware/planning/trajectory_validation/steering }
      - { type: link, link: /autoware/planning/trajectory_validation/steering_rate }
      - { type: link, link: /autoware/planning/trajectory_validation/velocity_deviation }
      - { type: link, link: /autoware/planning/trajectory_validation/trajectory_shift }

  - path: /autoware/planning/trajectory_validation/finite
    type: diag
    node: planning_validator
    name: trajectory_validation_finite

  - path: /autoware/planning/trajectory_validation/interval
    type: diag
    node: planning_validator
    name: trajectory_validation_interval

  - path: /autoware/planning/trajectory_validation/curvature
    type: diag
    node: planning_validator
    name: trajectory_validation_curvature

  - path: /autoware/planning/trajectory_validation/angle
    type: diag
    node: planning_validator
    name: trajectory_validation_relative_angle

  - path: /autoware/planning/trajectory_validation/lateral_acceleration
    type: diag
    node: planning_validator
    name: trajectory_validation_lateral_acceleration

  - path: /autoware/planning/trajectory_validation/acceleration
    type: diag
    node: planning_validator
    name: trajectory_validation_acceleration

  - path: /autoware/planning/trajectory_validation/deceleration
    type: diag
    node: planning_validator
    name: trajectory_validation_deceleration

  - path: /autoware/planning/trajectory_validation/steering
    type: diag
    node: planning_validator
    name: trajectory_validation_steering

  - path: /autoware/planning/trajectory_validation/steering_rate
    type: diag
    node: planning_validator
    name: trajectory_validation_steering_rate

  - path: /autoware/planning/trajectory_validation/velocity_deviation
    type: diag
    node: planning_validator
    name: trajectory_validation_velocity_deviation

  - path: /autoware/planning/trajectory_validation/trajectory_shift
    type: diag
    node: planning_validator
    name: trajectory_validation_trajectory_shift
